<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MongoDB</title>
    <link rel="stylesheet" href="/stylesheets/indexStyle.css">
</head>
<body>
    
    <form action="/" method="post">
        <label for="favGame">Enter your favourite game: </label>
        <input id="favGame" type="text" name="favGame" placeholder="e.g. Mario"><br>
        <label for="userAge">What age are you?</label>
        <input id="userAge" type="number" name="userAge"><br>
        <input type="submit" value="OK">
    </form>
    <br><br>
    
    <div>My Text Area</div>
    <textarea name="myTA" id="myTA" placeholder="Enter text here.. " rows="5" cols="30"></textarea>
    <button id="myTAB">Send Data</button>

    <script src="/scripts/indexScript.js"></script>

</body>
</html>