<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MongoDB</title>
    <link rel="stylesheet" href="/stylesheets/indexStyle.css">
</head>
<body>
    
    <div>User Name</div>
    <input type="text" id="userName" name="userName">
    <div>User Age</div>
    <input type="number" id="userAge" >
    <div>User Comment</div>
    <textarea name="userComment" id="userComment" cols="30" rows="10"></textarea>
    <br>
    <button id="userInfo">Send Data</button>

    <script src="/scripts/indexScript.js"></script>

</body>
</html>