
body{
    margin: 0;
}

#appContain{
    margin: 0 auto;
    width: 98%;
    position: relative;
    height: 98vh;
}

#chatContain{
    width: 100%;
    display: table;
    height: 85%;
}

#chatMain{
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.chatMsg{
    padding: 2px 5px;
    width: 350px;
}

#msgContain{
    width: 100%;
    height: 15%;
    display: flex;
    position: absolute;
    bottom: 0;
}

#msgInput{
    font-size: 1.5em;
    padding-left: 4px;
    width: 100%;
    resize: none;
}

#msgInput:focus{
    outline: none;
}

#msgSend{
    font-size: 1.8em;
    background: rgb(53, 138, 167);
    border: 2px solid rgb(53, 138, 167);
    color: white;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    user-select: none;
    height: 100%;
}

#msgSend:hover{
    cursor: pointer;
    background: rgb(85, 158, 182);
    border: 2px solid rgb(85, 158, 182);
}