
#appContain{
    border: 1px solid rgb(101, 146, 161);
    width: fit-content;
    padding: 8px 4px 8px 4px;
    border-radius: 2px;
}

#chatContain{
    min-height: 400px;
}

#chatMain{
    height: 380px;
    overflow-y: scroll;
    transform:rotate(180deg);
    direction: rtl;
}

.chatMsg{
    transform:rotate(180deg);
    direction: rtl;
    text-align: left;
    width: 100%;
}


#msgInput{
    font-size: 1.5em;
    padding-left: 4px;
}

#msgSend{
    font-size: 1.5em;
    background: rgb(53, 138, 167);
    border: 2px solid rgb(53, 138, 167);
    color: white;
    border-radius: 2px;
    user-select: none;
}

#msgSend:hover{
    cursor: pointer;
    background: rgb(85, 158, 182);
    border: 2px solid rgb(85, 158, 182);
}