<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Live chat application</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>

    <div id="appContain">
        <div id="chatContain">
                <div id="chatMain"></div>
        </div>
        <div id="msgContain">
            <input type="text" id="msgInput">
            <button id="msgSend">Send</button>
        </div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:3000');

        let chatData = [];

        function writeChat(data){
            let currMsg = chatData[chatData.length -1].msg;
            const newEl = document.createElement('div');
            newEl.classList.add('chatMsg');
            const newElMsg = document.createElement('div');
            newElMsg.innerHTML = currMsg;
            newEl.appendChild(newElMsg);
            document.querySelector('#chatMain').appendChild(newEl);
        }

        socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
        });

        socket.on('message', (data) => {
            chatData.push(data);
            //document.querySelector('#chatMain').innerHTML += '<br>' + data.msg;
            writeChat(chatData);
        })

        document.querySelector('#msgSend').addEventListener('click', () => {
            const userMsg = document.querySelector('#msgInput').value;
            console.log(userMsg);
            socket.emit('message', {msg: userMsg});

            document.querySelector('#msgInput').value = '';
        })
      
    </script>

</body>
</html>