<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Live chat application</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>

    <div id="hAll">
        <div id="nameContain">
            <div id="nameHeading">Please Enter Name</div>
            <div id="nameInputsContain">
                <div id="nameInAll">
                    <input id="nameInput" class="nameInputWarning" type="text">
                    <div id="nameWarning" class="hideEl"></div>
                    <button id="nameButton">&crarr;</button>
                </div>
                
            </div>
        </div>
    </div>

    <div id="appContain">
        <div id="chatContain">
                <div id="chatMain"></div>
        </div>
        <div id="msgContain">
            <textarea name="msgInp" id="msgInput"></textarea>
            <button id="msgSend">Send</button>
        </div>
    </div>




    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/indexSocket.js"></script>

</body>
</html>