<!DOCTYPE html>
<html>
  <head>
    <title>The Dullahan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p><%= name %></p>

    <ul>
      <% for(let i = 0; i < 5; i++){ %>
        <li>Trigun</li>
      <% } %>
    </ul>

  </body>
</html>
